body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-image: url('https://share.google/126UYL40fSWYMvl3P'); /* apni image ka naam yahan dal */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
